<!DOCTYPE html>
<html>
<head>
   <title>EZCheckin</title>
   <link href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
   <script src="http://apps.bdimg.com/libs/jquery/2.0.0/jquery.min.js"></script>
   <script src="http://apps.bdimg.com/libs/bootstrap/3.3.0/js/bootstrap.min.js"></script>

    <meta name="viewport" content="width=device-width, 
                                     initial-scale=1.0, 
                                     maximum-scale=1.0, 
                                     user-scalable=no">
</head>
<body>

<h1>开始签到</h1>
<p>不要乱动，安静地等2分钟</p>
 
<div id="nowtime">  
</div>  
<div id="divNowTime">  
</div>  
 
<div id="divResult">  
</div> 

<form  method="post">
{% csrf_token %}   
      <input id="student_number" type="hidden" name="studentNumber" value="{{ studentNumber }}">
      <input id="course_number" type="hidden" name="courseNumber" value="{{ courseNumber }}">
</form>

<script type="text/javascript" language="javascript">  
    $(document).ready(function () {  
        setInterval("startRequest()", 3000);  
    });  

    function startRequest() {  
        $("#nowtime").text((new Date()).toString());  
        $('#divNowTime').text((new Date()).toLocaleDateString() + " " + (new Date()).toLocaleTimeString());  
        var student_number = $("#student_number").val();
        var course_number = $("#course_number").val();
        $.ajax({  
            url: "heartbeat/",  
            type: 'POST',  
            data: {  
                student_number: student_number, 
                course_number: course_number 
            },  
            success: function (responseText) {  
                $("#divResult").text(responseText);  
            }  
        });  
    }  
</script>  

</body>
</html>
</body>
</html>
